@charset "UTF-8";

body {
    font-family: 'Nunito', cursive;
    color: white;
    background-color: #4ABCAD;
}

#welcome-message {
    font-family: 'Grandstander', cursive;
    font-size: 70px;
    text-align: center;
    position: relative;
    display: block;
    margin: 25px;
}

#calling-message {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 20px;
}

.nav-bar * {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 40px;
    padding: 25px;
    background-color: #DFDCE3;
}

.nav-bar a:hover {
    background-color: #F78733;
    color: white;
    margin: 80px;
}

#message {
    margin: 50px;
    font-size: 20px;
    text-align: center;
}

#above-footer {
    text-align: left;
    margin: 100px;
    padding: 150px;
    font-size: 18px;
}

.social-media * {
    max-width: 250px;
    max-height: 150px;
    width: 35px;
    height: 35px;
}

footer {
    bottom: 0;
    height: 40px;
    position: fixed;
    display: block;
}
